body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:url(campaign.png);
  }

  header {
    background:url(campaign.png);
    color: white;
    text-align: center;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .campaign-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .campaign-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .campaign-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .campaign-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
  }

  .campaign-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .campaign-button:hover {
    background-color: #555;
  }