body {
    background-color: #000000;
  }

 

  /* Content Styles */
  .content {
    display: none;
    text-align: center;
    padding: 20px;
  }
  .content h1 {
    font-size: 24px;
    color: #fff;
  }
  .content p {
    font-size: 18px;
    color: #e6ff00;
    margin-bottom: 20px;
  }
  .content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* Content Styles */
  .content {
    display: none;
    text-align: center;
  }
  .content img {
    max-width: 100%;
    height: auto;
  }
  
  
.menu {
  position: relative;
  float: right;
}
.menu a{
  text-decoration: none;
  color: #fff;
}
.menu a:hover{
  color: #a6b800;
}

  section {
    
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    
  }
  .section-one {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
  }
  
  .container-one {
    display: flex;
    align-items: center;
    width: 24%;
  }

  .img-wrapper {
    margin-right: 20px;
  }

  .img-wrapper img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px 157px 15px ;
  }

  .upper {
    text-align: center;
    line-height: 3rem;
  }

  .upper span {
    font-size: 24px;
    line-height: 3rem;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Roboto' sans-serif;
    text-align: left;
    
  }
  .section-one .material-symbols-outlined{
    color: #ADC000
    ;
  }
  .upper h1 {
    font-weight: 400;
    text-align: left;
    margin: 0;
    color: #fff;
    font-family: 'Roboto' sans-serif;
  }

  .upper h1 span {
    color: #e6ff00;
    font-family: 'Roboto ' sans-serif;
  }
  .social-media button {
    bottom: 0;
    left: 0;
    margin: 5px; /* Optional: Add some margin to give it some space from the bottom and left edges */
  }

  .social-media button a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
  }
  .social-media a:hover{
    color: #333;
  }
  
  .container-two {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: calc(76% - 45px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-two .upper{
    width: 100%;
  }
  .container-two .lower{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .container-two .lower .text {
    color: #f2f2f2;
    margin-left: 5px;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;

  }

   hr{
    color: #969696;
  }
  .icon  {
    font-size: 20px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .text {
    font-size: 16px;
  }

  .text p, .text a {
    margin: 0;
    color: #ffffff;
  }

  .text a {
    text-decoration: none;
  }

  .text a:hover {
    text-decoration: underline;
  }
  .container-three{
    display: flex;
  }
  .contact-details p{
    color: #ffffff;
  }
  .tools span{
    font-size: 30px;
  }

  .section-one .container-three p {
    color: #aeaeae;
    font-size: 1rem;
    text-align: center;
    line-height:2.1rem ;
  }
  
  .section-two{
    display:block;
    text-align: left;
    width: 100%;
  }
  .section-two .icon-wrapper{
    text-align: center;
    max-width: fit-content;
  }
  .section-two .icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .section-two .container-one h2 {
    color:#ffffff;
    text-align: left;
    font-size: 24px;
    width: 100%;
    text-decoration: underline #e6ff00;
  }
  
  .section-two .text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
  .section-two span{
    color: #f2f2f2;
    text-align: left;
    font-size: 3rem;
  }
  
  .section-two .upper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    line-height: 4rem;
  }
  .container-two {
    max-width: 800px;
    margin: 0 auto;
    display: inline;
  }
  .container-two .higher {
    font-size: 18px;
    position: relative;
    display: inline;
    flex-direction: column;
    letter-spacing: -1px;
    line-height: 30px;
  }

  .lower {
    display: flex;
    justify-content: center;
  }
  .higher h2{
    text-align: left;
  }
  
  /* Style the testimonial cards */
  .text-cards {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  .text-cards span.material-symbols-outlined {
    font-size: 40px;
    padding-right: 30px;
    display: block;
    margin-bottom: 10px;
    color: #ADC000;
  }
  
  .text-cards p {
    margin-bottom: 20px;
  }
  
  .text-cards img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .text-cards h3 {
    color: #f2f2f2;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .text-cards p {
    font-size: 14px;
    color: #777;
  }
  
  .text-cards hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* Style the slider */
  .splide__slide {
    list-style: none;
  }
  
  /* Optional: Customize the slider navigation dots */
  .splide__pagination__page {
    background-color: #333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .splide__pagination__page.is-active {
    background-color: #ADC000;
  }
  
  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .container-two .higher h2{
    display: flex;
    text-align: left
  }
  .card {
    display: flex;
    position: relative;
    width: 25%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
    text-align: center;
  }
  .image-wrapper {
    border-radius: 30px;
  }

  .information h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
    text-align: left;
  }
  .information p {
    color: #ffffff;
  }
  .wrapping a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .color-one {
    color: #a6b800;
  }
 
  button {
    background-color: #ffffff;
    border: none;
    border-radius: 60px;
  }
  .socials a {
    text-decoration: none;
    color: #262426;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  .socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-two h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
  }
  .section-wrapper {
    display: flex;
  }
  .section-three {
    background-color: black;
    color: white;
    padding: 50px 0;
  }

  /* Container for "Education" heading */
  .container-one {
    text-align: center;
    margin-bottom: 30px;
  }

  /* Heading "Education" */
  .container-one h3 {
    font-size: 24px;
    color: #FFF;
    text-decoration: underline #e6ff00;
  }

  /* Timeline */
  /* Styling for the timeline container */
  .timeline {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  /* Styling for timeline items */
  .timeline-item {
    flex: 0 0 300px; /* Set a fixed width for each item */
    margin-right: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
  }

  .timeline-description {
    text-align: center;
  }

  .timeline-description span {
    color: #ADC000;
    font-size: 18px;
    font-weight: bold;
  }

  .timeline-description h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .timeline-description p {
    color: #fff;
    font-size: 16px;
  }
  
  /* Section Three Container Two */
  .section-three-container-two {
    padding: 50px 0;
    text-align: left;
  }

  /* Skills Chart Heading "My Skills" */
  .section-three-container-two h3 {
    text-decoration: underline #ADC000;
    font-size: 28px;
    margin-bottom: 20px;
  }

  /* Skills Chart Category "L A N G U A G E" */
  .section-three-container-two h2 {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      text-align: left;
      font-size: 36px;
      margin: 0;
      padding: 0;
      color: #333;
      text-decoration: none;
  }

  /* Skills Chart Container */
  .skills-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Individual Skill */
  .skill {
    width: 200px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Skill Name and Percentage */
  .skill-name p {
    font-size: 18px;
    margin: 0;
    color: #fff;
  }

  /* Progress Bar Container */
  .progress-bar {
    background-color: #f0f0f0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  /* Progress Bar */
  .progress {
    height: 100%;
    background-color: #ADC000;
  }
  

 
  .container-one h3, .section-four-container-two h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }

  /* Styling for image links */
  .section-four-img-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-link {
    display: block;
    margin: 10px;
    position: relative;
    overflow: hidden;
  }

  .image-link img {
    width: 190px;
    height: 190px;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .overlay-text h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }

  .image-link:hover .overlay-text {
    opacity: 1;
  }

  /* Styling for "GET IN TOUCH" section */
  .section-four-container-two h2 {
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: underline #ADC000;
  }

  /* Styling for contact information */
  .higher {
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .higher span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }

  .higher a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
  }

  .higher p {
    color: #fff;
    margin: 0;
  }

  /* Styling for the form */
  .form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .form span {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #fff;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="message"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form button.btnn {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .form button.btnn a {
    color: #000;
    text-decoration: none;
  }

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.higher {
  max-width: 400px;
  margin: 0 auto;
  color: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.higher span {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.higher p{
  text-align: left;
}

.higher a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

.higher p {
  color: #fff;
  margin: 0;
}
.btnn {
  width: 100%;
  background-color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.link {
  font-size: 12px;
  margin-bottom: 20px;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: center;
}



input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
}

button {
  padding: 10px;
  color: #000000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.marquee {
  white-space: nowrap;
  overflow: hidden; 
}
.marquee img {
  display: inline-block;
  max-height: 100px; 
  margin-right: 20px; 
  animation: marquee 10s linear infinite; 
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); } 
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-wrapper span{
  color: #333333;
}
.footer-wrapper a{
  color: #fff;
  text-decoration: none;
}
.footer-wrapper a:hover{
  color: #e6ff00;
}
footer{
  color:#fff;
  font-size: .7rem;
}
 /* Add your custom styles here */
 @media screen and (max-width: 600px) {
  /* Styles for screens with width up to 600px (e.g., iPhones) */
  .loading-spinner img {
    width: 30px;
    height: 30px;
  }
  /* Add more styles for smaller screens if needed */
}

@media screen and (max-width: 768px) {
  /* Styles for screens with width up to 768px (e.g., smaller Android devices) */
  /* Adjust styles as needed for smaller screens */
}