body {
    background-color: #000;
  }
  .container-one {
    display: flex;
  }
  .social-media {
    position: absolute;
    margin: 0 auto;
    left: 15px;
  }
  button{
    border-radius: 20px;
    background-color: #ffffff;
  }

  button a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
  }

  .container-two {
    display: flex;
    width: 33%;
    flex-wrap: wrap;
  }
  .icon-container {
    display: inline-flex;
    align-items: center;
  }
  
   .text p{
    color: #ffffff;
  }
  .text a{
    text-decoration: none;
    color: #ffffff;
  }
  
  .container-two span{
    color:#e6ff00;
  }
  .container-two h1{
    color: #ffffff;
  }
  .container-three{
    display: flex;
  }
  .contact-details p{
    color: #ffffff;
  }
  .tools span{
    font-size: 30px;
  }

  .container-three p {
    color: #525252;
  }
  .section-two .icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .section-two .container-one h2 {
    color:#ffffff;
    text-decoration: underline #e6ff00;
  }
  .section-two span{
    color: #ffffff;
  }
  .section-two .upper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .section-two .container-two{
    display: grid;
  }
  .section-two .higher h2{
    display: flex;
    color: #ffffff;
    text-decoration: underline #e6ff00;
  }
  .section-two .higher{
    display: flex;
  }
  
  .section-two .lower{
    display:flex ;
  }
  .lower .image-container h3{
    color: #ffffff;
    text-align:left;

  }
  .lower .image-container p{
    color: #525252;
    text-align: left;
  }
  .lower .image-container img{
    border-radius: 50%;
    width: 40%;
    object-fit: cover;
  }
  #quote-slider:hover{
    color: #e6ff00;
  }
  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    position: relative;
    width: 25%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
    text-align: center;
  }
  .image-wrapper {
    border-radius: 30px;
  }

  .information h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
  }
  .information p {
    color: #ffffff;
  }
  .wrapping a {
    text-decoration: none;
    color: #ffffff;
  }
  .panel {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
  }
  .color-one {
    color: #a6b800;
  }
  .cue-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  button {
    background-color: #ffffff;
    border: none;
    border-radius: 60px;
  }
  .socials a {
    text-decoration: none;
    color: #262426;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  .socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-two h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
  }
  .section-wrapper {
    display: flex;
  }
  .content-wrapper {
    display: flex;
    position: relative;
    width: 16.6%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
  }
  .content-wrapper h3 {
    color: #ffffff;
  }
  .content-wrapper p {
    color: #969696;
  }
  .content-wrapper span {
    color: #b3b3b3;
  }
  .content-wrapper,
  .material-symbols-outlined {
    color: #a6b800;
    font-size: 20px;
  }
  .timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.section-wrap h3{
  color: #f2f2f2;
  text-decoration: underline #a6b800;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e6ff00;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}


.timeline-description span{
  color: #e6ff00;

}
.timeline-description {
  padding: 10px;
  background-color: #333333;
  border-radius: 5px;
  font-size: 14px;
}
.timeline-description h2{
  color: #ffffff;
}
.timeline-description p{
  color: #fff;
}


.section-three{
  display: flex;
}
.section-three h3{
  color: #f0f0f0;
  text-decoration: underline #e6ff00;
}
.section-three h2{
  color: #262426;
  writing-mode: vertical-rl;
  font-size: 24px;
  padding: 5px 10px;
}

.skill {
  margin-bottom: 15px;
}

.skill-name p {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f2f2f2;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #a6b800; /* Progress bar color */
  border-radius: 8px;
}
