body {
    background-color: #000000;
  }

  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    z-index: 9999; /* Ensures it's on top of other elements */
  }
  .loading-text h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  .loading-spinner img{
    border-radius: 50%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Content Styles */
  .content {
    display: none;
    text-align: center;
    padding: 20px;
  }
  .content h1 {
    font-size: 24px;
    color: #fff;
  }
  .content p {
    font-size: 18px;
    color: #e6ff00;
    margin-bottom: 20px;
  }
  .content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  /* Content Styles */
  .content {
    display: none;
    text-align: center;
  }
  .content img {
    max-width: 100%;
    height: auto;
  }
  
  
.menu {
  position: relative;
  float: right;
}

.menu button {
  width: 93px; 
  height: 93px; 
  border-radius: 50%; 
  background-color: #e6ff00; 
  color: #fff; 
  font-size: 16px; 
  border: none;
  cursor: pointer;
  outline: none;
 }
 #dropdownBtn span{
  color: #000;
  font-size: 20px;
 }

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.dropdown-content a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;

}


.dropdown-content a:hover {
  color: #e6ff00;
  text-decoration: line-through #e6ff00;
}


.menu:hover .dropdown-content {
  display: block;
}
  section {
    
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
    
  }
  .section-one {
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
  }
  
  .container-one {
    display: flex;
    align-items: center;
    width: 24%;
  }

  .img-wrapper {
    margin-right: 20px;
  }

  .img-wrapper img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px 157px 15px ;
  }

  .upper {
    text-align: center;
    line-height: 3rem;
  }

  .upper span {
    font-size: 24px;
    line-height: 3rem;
    display: block;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'Roboto' sans-serif;
    text-align: left;
    
  }

  .upper h1 {
    font-weight: 400;
    text-align: left;
    margin: 0;
    color: #fff;
    font-family: 'Roboto' sans-serif;
  }

  .upper h1 span {
    color: #e6ff00;
    font-family: 'Roboto ' sans-serif;
  }
  .social-media button {
    bottom: 0;
    left: 0;
    margin: 5px; /* Optional: Add some margin to give it some space from the bottom and left edges */
  }

  .social-media button a{
    text-decoration: none;
    font-size: 15px;
    color: #000;
  }
  .social-media a:hover{
    color: #333;
  }
  
  .container-two {
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: calc(76% - 45px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-two .upper{
    width: 100%;
  }
  .container-two .lower{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .container-two .lower .text {
    color: #f2f2f2;
    margin-left: 5px;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;

  }

   hr{
    color: #969696;
  }
  .icon  {
    font-size: 20px;
  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  .text {
    font-size: 16px;
  }

  .text p, .text a {
    margin: 0;
    color: #ffffff;
  }

  .text a {
    text-decoration: none;
  }

  .text a:hover {
    text-decoration: underline;
  }
  .container-three{
    display: flex;
  }
  .contact-details p{
    color: #ffffff;
  }
  .tools span{
    font-size: 30px;
  }

  .section-one .container-three p {
    color: #aeaeae;
    font-size: 1rem;
    text-align: center;
    line-height:2.1rem ;
  }
  
  .section-two{
    display: block;
    text-align: left;
    width: 100%;
  }
  .section-two .icon-wrapper{
    text-align: center;
    max-width: fit-content;
  }
  .section-two .icon-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .section-two .container-one h2 {
    color:#ffffff;
    text-align: left;
    width: 100%;
    text-decoration: underline #e6ff00;
  }
  
  .section-two .text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
  .section-two span{
    color: #f2f2f2;
    text-align: left;
    font-size: 3rem;
  }
  
  .section-two .upper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .container-two {
    max-width: 800px;
    margin: 0 auto;
  }
  .container-two .higher {
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    letter-spacing: -1px;
    line-height: 30px;
  }
  
  .lower {
    display: flex;
    justify-content: center;
  }
  .higher h2{
    text-align: left;
  }
  
  /* Style the testimonial cards */
  .text-cards {
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  .text-cards span.material-symbols-outlined {
    font-size: 40px;
    padding-right: 30px;
    display: block;
    margin-bottom: 10px;
  }
  
  .text-cards p {
    margin-bottom: 20px;
  }
  
  .text-cards img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .text-cards h3 {
    color: #f2f2f2;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .text-cards p {
    font-size: 14px;
    color: #777;
  }
  
  .text-cards hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* Style the slider */
  .splide__slide {
    list-style: none;
  }
  
  /* Optional: Customize the slider navigation dots */
  .splide__pagination__page {
    background-color: #333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .splide__pagination__page.is-active {
    background-color: #ADC000;
  }
  
  ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card {
    display: flex;
    position: relative;
    width: 25%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
    text-align: center;
  }
  .image-wrapper {
    border-radius: 30px;
  }

  .information h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
    text-align: left;
  }
  .information p {
    color: #ffffff;
  }
  .wrapping a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .color-one {
    color: #a6b800;
  }
 
  button {
    background-color: #ffffff;
    border: none;
    border-radius: 60px;
  }
  .socials a {
    text-decoration: none;
    color: #262426;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
  }
  .socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-two h2 {
    color: #ffffff;
    text-decoration: underline #a6b800;
  }
  .section-wrapper {
    display: flex;
  }
  .content-wrapper {
    display: flex;
    position: relative;
    width: 16.6%;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 14px;
    align-items: flex-start;
    padding: 20px;
  }
  .content-wrapper h3 {
    color: #ffffff;
  }
  .content-wrapper p {
    color: #969696;
  }
  .content-wrapper span {
    color: #b3b3b3;
  }
  .content-wrapper,
  .material-symbols-outlined {
    color: #a6b800;
    font-size: 20px;
  }
  #section-three h3{
    color: #f2f2f2;
    text-decoration: underline #e6ff00;
  }
  .timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #333;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}
.section-wrap h3{
  color: #f2f2f2;
  text-decoration: underline #a6b800;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e6ff00;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}


.timeline-description span{
  color: #e6ff00;

}
.timeline-description {
  padding: 10px;
  background-color: #333333;
  border-radius: 5px;
  font-size: 14px;
}
.timeline-description h2{
  color: #ffffff;
}
.timeline-description p{
  color: #fff;
}
.text-cards span{
  color: #e6ff00;
  font-size: 30px;
}
.text-cards p{
  color: #333333;
}

.section-three{
  display: flex;
}
.section-three h3{
  color: #f0f0f0;
  text-decoration: underline #e6ff00;
}
.section-three h2{
  color: #262426;
  writing-mode: vertical-rl;
  font-size: 24px;
  padding: 5px 10px;
}

.skill {
  margin-bottom: 15px;
}

.skill-name p {
  font-weight: bold;
  margin-bottom: 5px;
  color: #f2f2f2;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  width: 100%;
  height: 100%;
  background-color: #a6b800; /* Progress bar color */
  border-radius: 8px;
}
.section-three{
  display: flex;
}
.section-three-container-two h3{
  color: #fff;
  text-decoration: underline #e6ff00;
}
.section-three-menu ul{
  display: flex;
  justify-content: space-between;
}
.section-three-menu a{
  text-decoration: none;
  color: #fff;
}
.section-three-menu a:hover{
  color: #e6ff00;
}
.section-three-img-wrap{
  display: flex;
}
.image-link {
  position: relative;
  display: inline-block;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  transition: opacity 0.3s;
}

.image-link:hover .overlay-text {
  opacity: 1;
}

h2, p {
  margin: 0;
  padding: 0;
}
.section-four h2{
  color: #fff;
  text-decoration: underline #e6ff00;
}
.section-four-container-one{
  display: flex;
}
.section-four-container-one span{
  color: #333333;
}
.section-four-container-one .higher{
  display: grid;
}
.section-four-container-one .higher a{
  text-decoration: none;
  color: #f2f2f2;
}
.section-four-container-one.section-four-wrapper p{
  color: #f2f2f2;
}
.main-container{
  display: flex;
  justify-content: space-between;
  
}
.main-container .higher p{
  color: #f2f2f2;
  text-align: left;

}
.main-container .higher a:hover{
  color: #e6ff00;
}
.form {
  max-width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.btnn {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.link {
  font-size: 12px;
  margin-bottom: 20px;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: center;
}



input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #000;
}

button {
  padding: 10px;
  background-color: #f2f2f2;
  color: #000000;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.marquee {
  white-space: nowrap;
  overflow: hidden; 
}
.marquee img {
  display: inline-block;
  max-height: 100px; 
  margin-right: 20px; 
  animation: marquee 10s linear infinite; 
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20%); } 
}
.footer-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-wrapper span{
  color: #333333;
}
.footer-wrapper a{
  color: #fff;
  text-decoration: none;
}
.footer-wrapper a:hover{
  color: #e6ff00;
}
footer{
  color:#fff;
  font-size: 20px;
}
/* Add this line to make the site responsive */
@media screen and (max-width: 768px) {
  /* Adjust header layout for smaller screens */
  header .menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .dropdown-content {
    display: none;
  }
  header .show {
    display: block;
  }

  /* Adjust section-one layout for smaller screens */
  .section-one {
    text-align: center;
  }
  .section-one .container-one {
    flex-direction: column;
  }
  .section-one .social-media {
    margin-top: 10px;
  }

  /* Adjust section-three layout for smaller screens */
  .section-three {
    text-align: center;
  }
  .section-three .section-three-container-two {
    margin-top: 20px;
  }
  .section-three .section-three-img-wrap {
    flex-wrap: wrap;
  }

  /* Adjust section-four layout for smaller screens */
  .section-four .section-four-container-one {
    flex-direction: column;
  }
}